
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="account_css/img/apple-icon.png">
    <link rel="icon" type="image/png" href="account_css/img/favicon.png">
    <title>
        Dashboard
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Nucleo Icons -->
    <link href="/account_css/css/nucleo-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="account_css/css/black-dashboard.cssv=1.0.0.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="account_css/demo/demo.css" rel="stylesheet" />
    <script>
        function loadDoc() {
            //document.getElementById('imessage').style.display='none'
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("btn").removeAttribute("disabled");
                    document.getElementById("btn").innerHTML = "Send Message";
                    document.getElementById("home").innerHTML += this.responseText;
                    alert("Sent");
                }
            };
            var un = ''; //document.getElementById("un").value;
            var sub = ''; //document.getElementById("sub").value;
            var msg = document.getElementById("msg").value;
            document.getElementById("btn").innerHTML = "Sending...";
            var att = document.createAttribute("disabled");
            att.value = "true";
            document.getElementById("btn").setAttributeNode(att);
            msg = msg.replace(/(\r\n|\n|\r)/gm, "<br/>");
            dat = "un=" + un + "&sub=" + sub + "&msg=" + msg;
            xhttp.open("POST", "/en/php/msg2/", true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send(dat);
            //alert(dat);
        }

    </script>
</head>

<body class="">
    <div class="wrapper">
        <div class="sidebar">
            <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
-->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-normal"> 
                        <img src="assets/img/logo.png" style="width:150px; height:50px;" alt="" class="img-fluid">
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="/adminRoute">
                            <i class="bi bi-pie-chart"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>

                   
                    <li>
                        <a href="/buy-contract">
                            <i class="bi bi-bar-chart"></i>
                            <p>Buy contracts</p>
                        </a>
                    </li>
                    <li>
                        <a href="/all-plans">
							<i class="bi bi-bookmark"></i>
                            <p>All Contracts</p>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/allFunding">
                            <i class="bi bi-bank"></i>
                            <p>All Deposits</p>
                        </a>
                    </li>
                    <li>
                        <a href="/allWidthdrawal">
                            <i class="bi bi-coin"></i>
                            <p>all Withdrawals</p>
                        </a>
                    </li>
                   
                   
                    <li>
                        <a href="/logout">
						<i class="bi bi-power"></i>
                            <p>Log out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
                    </div>
                   
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                           
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <div class="photo">
                                        <img src="account_css/img/anime3.png" alt="Profile Photo">
                                    </div>
                                    <b class="caret d-none d-lg-block d-xl-block"></b>
                                    <p class="d-lg-none">
                                        Log out
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li class="nav-link"><a href="/logout" class="nav-item dropdown-item">Log out</a></li>
                                </ul>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->
            <div class="content">
                
            <!-- Page content -->
            <div class="page-content">
              <div class="table-responsive">
                <%if(user != ''){%>
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">S/N</th>
                      <th scope="col">Full Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Country</th>
                      <th scope="col" class="text-end">Action</th>
                    </tr>
                  </thead>
              
                  <tbody>
                    <%  user.forEach((element, index) => {  %>
                      <tr class="align-middle">
                        <td><h5><%= index %></h5></td>
                        <td><h5><%= element.firstname %><%= element.lastname %></h5></td>
                        <td><h5><%= element.email %></h5></td>
                        <td><h5><%= element.country %></h5></td>
                        <td class="text-end">
                          <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="/viewUser/<%= element._id %>" type="button" class="btn btn-primary btn-small">
                              <i class="bi bi-eye"></i>
                            </a>
                            <a href="/editUser/<%= element._id %>" type="button" class="btn btn-warning btn-small">
                              <i class="bi bi-pencil"></i>
                            </a>
                            <form action="/deleteUser/<%= element._id %>?_method=DELETE" method="POST" class="position-relative">
                              <button type="submit" class="btn btn-danger btn-small">
                                <i class="bi bi-person-x"></i>
                              </button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <%  }) %>
                  </tbody>
                </table>
                <% }else{%>
                  <h1 class="text-center text-secondary mt-5">No users found in the database!</h1>
                  <% } %>
              </div>
               <% if (user.length > 0) { %>
    <nav aria-label="Dashboard Pagination">
      <ul class="pagination justify-content-center mt-5">
        <!-- First Page -->
        <% if (current == 1) { %>
          <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
        <% } else { %>
          <li class="page-item"><a href="/adminRoute?page=1" class="page-link">First</a></li>
        <% } %>
  
        <!-- Previous Page -->
        <% if (current > 1) { %>
          <li class="page-item"><a href="/adminRoute?page=<%= Number(current) - 1 %>" class="page-link">&laquo;</a></li>
        <% } else { %>
          <li class="page-item disabled"><a href="#" class="page-link">&laquo;</a></li>
        <% } %>
  
        <!-- Page Numbers -->
        <% 
          const maxPagesToShow = 5; // Show 5 page numbers at a time
          let startPage = Math.max(1, Number(current) - Math.floor(maxPagesToShow / 2));
          let endPage = Math.min(pages, startPage + maxPagesToShow - 1);
  
          // Adjust startPage if endPage is at the maximum
          if (endPage - startPage + 1 < maxPagesToShow) {
            startPage = Math.max(1, endPage - maxPagesToShow + 1);
          }
        %>
  
        <% if (startPage > 1) { %>
          <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
        <% } %>
  
        <% for (let i = startPage; i <= endPage; i++) { %>
          <% if (i == current) { %>
            <li class="page-item active"><a href="#" class="page-link"><%= i %></a></li>
          <% } else { %>
            <li class="page-item"><a href="/adminRoute?page=<%= i %>" class="page-link"><%= i %></a></li>
          <% } %>
        <% } %>
  
        <% if (endPage < pages) { %>
          <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
        <% } %>
  
        <!-- Next Page -->
        <% if (current < pages) { %>
          <li class="page-item"><a href="/adminRoute?page=<%= Number(current) + 1 %>" class="page-link">&raquo;</a></li>
        <% } else { %>
          <li class="page-item disabled"><a href="#" class="page-link">&raquo;</a></li>
        <% } %>
  
        <!-- Last Page -->
        <% if (current == pages) { %>
          <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
        <% } else { %>
          <li class="page-item"><a href="/adminRoute?page=<%= pages %>" class="page-link">Last</a></li>
        <% } %>
      </ul>
    </nav>
  <% } %>
   
           </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright">
                        <a href="javascript:void(0)">Citicryptopurse</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Background</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="badge-colors text-center">
                            <span class="badge filter badge-info active" data-color="blue"></span>

                            <span class="badge filter badge-success" data-color="green"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line text-center color-change">
                    <span class="color-label">LIGHT MODE</span>
                    <span class="badge light-badge mr-2"></span>
                    <span class="badge dark-badge ml-2"></span>
                    <span class="color-label">DARK MODE</span>
                </li>
     
            </ul>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="account_css/js/core/jquery.min.js"></script>
    <script src="account_css/js/core/popper.min.js"></script>
    <script src="account_css/js/core/bootstrap.min.js"></script>
    <script src="account_css/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="account_css/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="account_css/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="account_css/js/black-dashboard.min.jsv=1.0.0.js"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="account_css/demo/demo.js"></script>
    <script>
        $(document).ready(function() {
            $().ready(function() {
                $sidebar = $('.sidebar');
                $navbar = $('.navbar');
                $main_panel = $('.main-panel');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');
                sidebar_mini_active = true;
                white_color = false;

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



                $('.fixed-plugin a').click(function(event) {
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .background-color span').click(function() {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data', new_color);
                    }

                    if ($main_panel.length != 0) {
                        $main_panel.attr('data', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data', new_color);
                    }
                });

                $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
                    var $btn = $(this);

                    if (sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        sidebar_mini_active = false;
                        blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                    } else {
                        $('body').addClass('sidebar-mini');
                        sidebar_mini_active = true;
                        blackDashboard.showSidebarMessage('Sidebar mini activated...');
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function() {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function() {
                        clearInterval(simulateWindowResize);
                    }, 1000);
                });

                $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
                    var $btn = $(this);

                    if (white_color == true) {

                        $('body').addClass('change-background');
                        setTimeout(function() {
                            $('body').removeClass('change-background');
                            $('body').removeClass('white-content');
                        }, 900);
                        white_color = false;
                    } else {

                        $('body').addClass('change-background');
                        setTimeout(function() {
                            $('body').removeClass('change-background');
                            $('body').addClass('white-content');
                        }, 900);

                        white_color = true;
                    }


                });

                $('.light-badge').click(function() {
                    $('body').addClass('white-content');
                });

                $('.dark-badge').click(function() {
                    $('body').removeClass('white-content');
                });
            });
        });

    </script>
    <script>
        $(document).ready(function() {
            // Javascript method's body can be found in account_css/js/demos.js
            demo.initDashboardPageCharts();

        });

    </script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
        window.TrackJS &&
            TrackJS.install({
                token: "ee6fab19c5a04ac1a32a645abde4613a",
                application: "black-dashboard-free"
            });

    </script>
    <script type="text/javascript">
        function focusing() {
            //console.log(document.getElementById("msg_box"))
            document.getElementById("msg").focus();
        }

    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//code.tidio.co/ysoaoqfizarvwjskukbsitbr2en4w2iv.js" async></script>
    <p></p>    </body>

</html>
